

.game {
}

.game a{
    text-decoration: none;
    padding: 1px 10px 1px 10px;
    background-color: rgba(224,192,0,0.5);
    border-radius: 10px;
    border: 1px outset rgba(0,0,0,1);
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 30%;

}


.usernameblock {
    text-align: right;
}

.usernameblock a {
    text-decoration: none;
    padding: 1px 5px 1px 5px;
    border-radius: 5px;
    background-color: rgba(128,128,128,1);
    color: rgba(255,255,255,1);
}

#svg {
    text-align: center;
}
svg {
    width: 65%;
    height: auto;
}

#forefeit {
    text-align:center;
    
}

.login {
    text-align: right;
}

    
.button {
    border-radius: 5px;
    background-color: rgba(192,192,255,1);
    color: rgba(255,255,255,1);
}