<!doctype html>

<html>
  <head>
    <title>Games</title>
  </head>
  <body>
    {{ session['username'] }}
    <br/>
    {% for gm in glist %}
    <div class="game">
      Against <div class="user">{{ gm[0]|e }}</div>
      {% if gm[1] %}
      Your turn
      {% else %}
      Opponent's turn
      {% endif %}
    </div>
    {% else %}
    No games right now!
    {% if waiting==True %}
    You are currently waiting to be matched with a partner
    {% else %}
    <a href="/newgame">New Game</a>
    {% endif %}
    {% endfor %}
  </body>
</html>
