<!doctype html>

<html>
  <head>
    <title>Games</title>
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
    <div class="username_block">
      {{ session['username'] }}
      <a href="/logout">Log out</a>
    </div>
    <br/>
    {% for gm in glist %}
    <div class="game">
      <a href="/play/{{ gm[2] }}">
	{{ gm[0]|e }}
	<br/>
	{% if gm[1] %}
	Opponent's turn
	{% else %}
	Your turn
	{% endif %}
      </a>
    </div>
    {% else %}
    No games right now!
    {% if waiting==True %}
    You are currently waiting to be matched with a partner
    {% else %}
    <a href="/newgame">New Game</a>
    {% endif %}
    {% endfor %}
  </body>
</html>
