<!doctype html>

<html>
  <head>
    <title>*Star</title>
  </head>
  <body>
    {% if 'logged_in' not in session %}
    <div id="login">
      login
      <form action="/login" method="post">
	{% with messages = get_flashed_messages(category_filter=['login error']) %}
	  Username:
	  <input type="text" name="username" />
	  Password:
	  <input type="password" name="password" />
	  {% for err in messages %}
	  {{ err }}
	  {% endfor %}
	  {% endwith %}
	<div class="buttons">
	  <button type="submit" name="login">Log in</button>
	  <button type="submit" name="register">Register</button>
	</div>
	
      </form>
    </div>
    {% else %}
    <form action="/logout">
      <button type="submit" name="logout">Log out</button>
    </form>
    {% endif %}
  </body>
</html>
