<!doctype html>

<html>
  <head>
    <title>*Star</title>
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
    {% if 'logged_in' not in session %}
    <div class="login" id="login">
      <form action="/login" method="post">
	{% with messages = get_flashed_messages(category_filter=['login error']) %}
	  <input type="text" placeholder="username" name="username" /><br/>
	  <input type="password" placeholder="password" name="password" />
	  {% for err in messages %}
	  {{ err }}
	  {% endfor %}
	  {% endwith %}
	<div class="buttons">
	  <button type="submit" class="button" name="login">Log in</button>
	  <button type="submit" class="button" name="register">Register</button>
	</div>
	
      </form>
    </div>
    {% else %}
    <div class="usernameblock">
      {{ session['username'] }}
      <a href="/logout">Log out</a>
      <br/>
      <a href="/games">Games</a>
    </div>
    {% endif %}
    <div id="index">
      <h1>*Star</h1>
      This is an abstract strategy game created by <a href="http://ea.ea.home.mindspring.com/index.html">Ea Ea</a>. You can find more information about *Star (including the rules) <a href="http://ea.ea.home.mindspring.com/*Star.html">here</a>
      <br/><br/>
      You can play this game here by logging in and choosing `New Game', which will either bring you to a new game with someone or put you in a waiting list to be matched with someone later. If you are already in a game (or games), logging in will take you to a page where you can choose from your games.
      <br/><br/>
      This site emulates a play-by-mail style, so you can play a game either over an hour or two if both you and your opponent are eager to play now, or a few days or weeks if you'd like to keep it slow and strategic.
      <br/><br/>
      If you have any questions or find any bugs, feel free to contact me by email by taking the domain name of this site (star.eli173.com) and replacing the first '.' with an '@'
    </div>
  </body>
</html>
